.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  font-family: var(--font-sans);
}

.formLabel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
  padding-inline: 3rem;
}

.flex_city {
  display: flex;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%; /* Updated width property */
}

.form button {
  display: grid;
  justify-content: center;
  background: var(--orange);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid var(--orange);
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 2vh;
  color: var(--white);
}

.form button:hover {
  display: grid;
  justify-content: center;
  /* background: var(--orange); */
  background: var(--yellow);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid var(--orange);
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2vh;
  color: var(--white);
}

@media (max-width: 768px) {
  .stepContainer {
    width: 80%;
  }

  .flex_city {
    display: flex;
    flex-direction: column;
  }
  .form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
  }
  .formLabel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: auto;
  }
}
