@import "fonts.css";

@font-face {
  font-family: displayFont;
  src: url(../assets/metal.ttf);
}

:root {
  /*Insert colors*/

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Metal Mania", serif;
}

.Overskrift {
  color: rgb(5, 67, 255);
}

/* body {
  background-image: url("/leon-contreras-qpdfU6vehgs-unsplash.jpg");
} */
/* @import "antd/dist/antd.css"; */

* {
  margin: 0;
}

@media (max-width: 800px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 800px) {
  .menuIcon {
    display: none;
  }
}
