@import "fonts.css";

@font-face {
  font-family: displayFont;
  src: url(../assets/metal.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  /* background-color: var(--primary-black); */
}

:root {
  --orange: #f5c065;
  --primary-black: #222222;
  --secundary-black: #1e1e1e;
  --white: white;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Metal Mania", serif;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.Overskrift {
  color: rgb(5, 67, 255);
}

* {
  margin: 0;
}

@media (max-width: 800px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 800px) {
  .menuIcon {
    display: none;
  }
}

/* navbar */

nav button {
  background: var(--white);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid;
  text-shadow: 0px 0px 0px transparent;
  padding: 20px 30px 20px 30px;
  font-size: 1rem;
  cursor: pointer;
}

nav button:hover {
  background: var(--orange);
  color: var(--white);
  border-color: var(--orange);
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: sans-serif;
}

a:hover {
  color: var(--orange);
}
header {
  /* position: sticky; */
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-black);
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
}

.nav__menu-list div {
  font-size: 1.4rem;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 135.5px;
  width: 288px;
  row-gap: 24px;
  right: -320px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: var(--secundary-black);
}
.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 35px;
    align-items: center;
  }

  .nav__menu-list {
    background-color: var(--primary-black);
  }
}

/* Footer */

footer {
  background: var(--primary-black);
  padding: 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

/* .footer_container {
  position: absolute;
  bottom: 0;
} */

footer img {
  height: auto;
  width: 150px;
  margin: 0px 0px 10px 0px;
}

.socials {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 50px;
}

.copy_right {
  color: var(--white);
  font-family: var(--font-sans);
}

.steps {
  padding: 2% 15% 0% 15%;
}

.TicketsAndTents_column__lSOnv button {
  background: var(--white);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid;
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
}

.TicketsAndTents_column__lSOnv button:hover {
  background: var(--orange);
  color: var(--white);
  border-color: var(--orange);
}
