.headline {
  font-family: "displayFont";
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color: var(--orange);
  margin-top: 15%;
  font-size: clamp(0.4rem, 8vw, 4.5rem);
  /* position: relative; */
  /* z-index: 1; */
}

.center {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  color: var(--white);
  margin-bottom: 10%;
  font-family: var(--font-sans);
  font-size: clamp(0.4rem, 5vw, 2.5rem);
  /* position: relative; */
  z-index: 1;
}

.container {
  display: grid;
  margin: 0 auto;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.imgContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(50%);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  color: white;
}

/* .logo a {
  width: clamp(0.4rem, 5vw, 2.5rem);
} */
