.grid {
  padding: 2rem;
}
.background-color {
  background-color: var(--secundary-black);
}
.search_and_headline {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.sorting_filtering {
  display: flex;
}
.options {
  max-width: 1200px;
}
.bandGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  max-width: 1200px;
  background-color: #3e3e42;
  padding: 20px 20px 35px 20px;
}

.overskrift {
  font-family: displayFont;
  background-color: white;
  color: white;
  background-color: #1e1e1e;
  font-size: 4rem;
  margin: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 250px;
  border: 1px solid black;
  display: block;
}

.card img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h2 {
  position: absolute;
  top: 94.8%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Lato", sans-serif;
}
/*Filter, sort and search*/
.filterSort {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.filterSort label {
  color: #c99844;
}

.filterSort select {
  /* margin-bottom: 20px; */
  border: none;
  background-color: transparent;
  color: #c99844;
  cursor: pointer;
  font-size: 1em;
}

.sortButton {
  padding: 0.5rem;
  color: #c99844;
  cursor: pointer;
  font-size: 1em;
  margin-right: 0;
}

/*Search*/

.searchbar {
  display: flex;
  text-align: left;
  align-content: center;
  height: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}
/*Popup*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  height: 80%;
  max-width: 1100px;
  max-height: 600px;
  overflow: auto;
  background-color: #3e3e42;
  color: white;
}

.popupContent img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  margin-right: 2rem;
}

.popupContent p {
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin-bottom: 10px;
}

.popupContent h3 {
  font-size: 1cm;
  margin-bottom: 10px;
}

.popupContent button {
  display: grid;
  justify-content: center;
  background: var(--orange);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid var(--orange);
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2vh;
  color: var(--white);
}

.popupContent button:hover {
  display: grid;
  justify-content: center;
  /* background: var(--orange); */
  background: var(--yellow);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid var(--orange);
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2vh;
  color: var(--white);
}

@media (max-width: 767px) {
  .bandGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    max-width: 100%;
    height: auto;
  }
  .filterSort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .filterSort label {
    margin-right: 10px;
  }

  .filterSort select {
    margin-right: 10px;
  }
  .popupContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: none;
    max-height: none;
  }

  .popupContent img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 2rem;
    max-width: 450px;
    max-height: 350px;
  }

  .popupContent p {
    font-family: "Lato", sans-serif;
    margin-bottom: 10px;
  }

  .popupContent h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .popupContent button {
    margin-top: 10px;
  }

  .popupContent {
    padding: 40px;
  }

  .popupContent h3 {
    margin-top: 20px;
  }

  .popupContent button {
    margin-bottom: 20px;
  }
  .search_and_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
  }
  .overskrift {
    font-family: displayFont;
    background-color: white;
    color: white;
    background-color: #1e1e1e;
    font-size: 3rem;
    text-align: center;
  }
  .searchbar {
    display: flex;
    text-align: left;
    align-content: center;
    height: 2rem;
    margin-block: 1rem;
    margin-right: auto;
  }
  .sorting_filtering {
    display: flex;
    padding-inline: 1rem;
  }
}
