.grid {
  padding: 2rem;
}

.bandGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  max-width: 1110px;
  padding: 0 20px;
  background-color: #3e3e42;
  padding: 20px 20px 30px 20px;
}

.overskrift {
  text-align: center;
  font-family: displayFont;
  background-color: white;
  color: white;
  padding-top: 50px;
  background-color: #1e1e1e;
}

.overskrift h1 {
  font-size: 4rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  height: 250px;
  border: 1px solid black;
  display: block;
}

.card img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card h2 {
  position: absolute;
  top: 94.8%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.filterSort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-family: "Lato", sans-serif;
}

.filterSort label {
  color: #c99844;
}

.filterSort select {
  margin-right: 1rem;
}

.sortButton {
  padding: 0.5rem;
  color: #c99844;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;
  height: 80%;
  max-width: 1100px;
  max-height: 600px;
  overflow: auto;
  background-color: #3e3e42;
  color: white;
}

.popupContent img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  margin-right: 2rem;
}

.popupContent p {
  flex-grow: 1;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin-bottom: 10px;
}
.popupContent h3 {
  font-size: 1cm;
  margin-bottom: 10px;
}

.popupContent button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Lato", sans-serif;
}

.popupContent button:hover {
  background-color: white;
}

@media (max-width: 767px) {
  .bandGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    max-width: 100%;
    height: auto;
  }
  .filterSort {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .filterSort label {
    margin-right: 10px;
  }

  .filterSort select {
    margin-right: 10px;
  }
  .popupContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }

  .popupContent img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .popupContent p {
    font-family: "Lato", sans-serif;

    margin-bottom: 10px;
  }

  .popupContent h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .popupContent button {
    margin-top: 10px;
  }
}
