.image {
  width: 70%;
  height: auto;
}

.container {
  display: flex;
  font-family: var(--font-sans);
  width: 85%;
  max-width: 1200px;
  padding: 5%;
  padding-top: 2%;
}

.column {
  flex: 1;
  margin: 10px;
}

.card {
  padding: 4rem;
}

.column:first-child {
  border: 1px solid black;
  gap: 10px;
  margin: 20px;
  padding: 20px;
}

.centerButton button {
  display: grid;
  justify-content: center;
  background: var(--white);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid;
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  margin-bottom: 2vh;
}

.clickableCenterButton button {
  display: grid;
  justify-content: center;
  color: white;

  background: var(--orange);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid;
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2vh;
}
.clickableCenterButton button:hover {
  display: grid;
  justify-content: center;
  background: var(--yellow);
  box-shadow: 0px 0px 0px transparent;
  border: 1px solid var(--orange);
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 30px 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2vh;
  color: var(--white);
}

/* Ordreoversigt */

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .column:first-child {
    margin: 10px;
    padding: 10px;
  }

  .flow {
    padding: 0;
  }

  .column:first-child {
    margin: 0;
    padding: 20px;
  }
  .ordreWeb {
    margin-top: 1.2rem;
    padding-inline: 0;
    display: grid;
    justify-content: center;
  }
}

.ordreWeb {
  margin-top: 1.2rem;
  margin-inline: 5%;
}

.greenPrice {
  font-weight: bolder;
}

.dropDown {
  outline: 0;
  background: white;
  background-image: none;
  width: 50%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
}

.dropdown option {
  background: white;
  color: black;
  padding: 0.5rem;
}

.dropdown option:hover {
  background: lightgray;
}

.errorMessage {
  color: red;
  text-align: center;
}

/* flow */

.flow {
  padding: 30px 200px 30px 200px;
  max-width: 768px;
  margin-inline: auto;
  margin-block: 2em;
}

@media (max-width: 700px) {
  .flow {
    display: grid;

    padding: 30px 100px 0px 100px;
  }
}

@media (max-width: 1200px) {
  .flow {
    padding: 30px 100px 0px 100px;
  }
}

@media (max-width: 970px) {
  .flow {
    padding: 30px 20px 0px 20px;
  }
}
