.grid_7x1 h3 {
  background-color: var(--white);
  padding: 0.3em 1.5em 0.3em 1.5em;
  text-align: center;
  text-transform: capitalize;
}
.grid_7x1 {
  padding-block: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 80%;
}
.days {
  width: 80%;
}

.background_color {
  background-color: var(--secundary-black);
}
.content {
  max-width: 1200px;
  min-height: 90vh;
  padding-block: 3rem;
  font-family: "lato", sans-serif;
}
.empty_schedule {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding-block: 3rem;
  font-family: "lato", sans-serif;
}
.line {
  background-color: var(--dark-grey);
  height: 1px;
  width: 70%;
  margin-bottom: 1rem;
}
.empty_schedule svg {
  padding-block: 1rem;
}
.empty_schedule a {
  display: flex;
  justify-content: center;
  border: 1px solid var(--white);
  padding-block: 0.5rem;
  margin-block: 1rem;
}

.user {
  display: flex;
}

.divider {
  background-color: var(--dark-grey);
  height: 1px;
  width: 100%;
  margin-bottom: 1rem;
}
.hi_user {
  color: var(--orange);
  padding-inline: 1rem;
}
.logout {
  font-family: "lato", sans-serif;
  border: none;
  margin-inline: 1rem;
  padding-inline: 1rem;
  background-color: var(--orange);
}
.user_content {
  flex: 1;
}
.user_container {
  display: flex;
}
.band-image {
  width: 100%;
}
.fav_band {
  padding-block: 0.5rem;
  width: 80%px;
  background-color: var(--black);
  margin-bottom: 1rem;
}

.fav_band p {
  color: var(--white);
  text-align: center;
  font-family: "lato", sans-serif;
}

.fav_band button {
  display: flex;
  justify-content: bottom;
  border: none;
  background-color: var(--orange);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.white-text {
  color: var(--white);
  padding-bottom: 1rem;
  padding-inline: 1rem;
}
.flex_between {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .line {
    background-color: var(--dark-grey);
    height: 1px;
    width: 20%;
    margin-bottom: 1rem;
  }
  .grid_7x1 {
    padding-block: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    width: 100%;
  }
  .fav_band {
    padding-block: 0.5rem;
    width: 150px;
    height: 210px;
    background-color: var(--black);
    margin-bottom: 1rem;
  }
}
