.select {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  color: #c99844;
}
.contentSchedule {
  background-color: #1e1e1e;
  margin: 0 auto;
}

.schedule {
  display: flex;
  justify-content: center;
}

.schedulePlan {
  /*  width: 400px; */
  margin: 0 auto;
}

.calendar {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 300px)); */
  grid-gap: 20px;
}

.day-column {
  padding: 10px;
  background-color: #3e3e42;
}

.day {
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
  color: white;
}

.time-slots {
  margin-top: 10px;
}

/* .favorite {
  fill: white;
}

.favorite.active {
  fill: #c99844;
}
 */
.svg-container {
  align-self: flex-end;
}

.time-slot {
  margin-bottom: 3rem;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.break-time-slot {
  display: none;
  /* Styles for time slots with breaks */
  background-color: #ffcccc; /* Change to the desired color */
  height: 50px;
}

.break-indicator {
  /* Styles for the break indicator */
  background-color: #ff9999; /* Change to the desired color */
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.time-range {
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
}

.act-details {
  margin: 0;
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  .schedule {
    display: flex;
    justify-content: center;
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
  }
  .schedulePlan {
    padding-block: 4rem;
    width: 1200px;
    margin: 0 auto;
  }
  .band-images {
    width: 150px;
    height: 100px;
  }
  .day-column {
    padding: 0;
    background-color: #3e3e42;
  }
  .day {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    color: white;
  }
}
