.select {
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  color: var(--orange);
  font-size: 1.2em;
  cursor: pointer;
  padding-inline: 1rem;
  font-family: "lato", sans-serif;
}

.contentSchedule p {
  font-family: "lato", sans-serif;
}
.headline {
  font-family: displayFont;
  color: var(--white);
  text-align: center;
}
.contentSchedule {
  background-color: var(--secundary-black);
  margin: 0 auto;
}
.band-images {
  width: 40%;
}

.schedule {
  display: flex;
  justify-content: center;
}

.schedulePlan {
  margin: 0 auto;
}

.calendar {
  display: grid;
  grid-gap: 20px;
}

.day-column {
  padding: 10px;
  background-color: var(--dark-grey);
}
.svg-container {
  display: flex;
  padding-block: 0.3rem;
}
.day {
  font-weight: bold;
  margin-block: 10px;
  text-transform: capitalize;
  text-align: center;
  color: var(--orange);
  font-family: "lato", sans-serif;
}

.time-slots {
  margin-top: 10px;
}

.svg-container {
  align-self: flex-end;
}
.flex-mobile {
  display: flex;
  padding-block: 1rem;
}

.time-slot {
  margin-bottom: 3rem;
  height: 230px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}
.time-slot p {
  padding-inline: 0.5rem;
}

.break-time-slot {
  display: none;
  height: 50px;
}

.break-indicator {
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.time-range {
  font-weight: bold;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

.act-details {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
}

@media (min-width: 768px) {
  .schedule {
    display: flex;
    justify-content: center;
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-gap: 10px;
  }
  .schedulePlan {
    padding-block: 4rem;
    width: 1200px;
    margin: 0 auto;
  }
  .band-images {
    width: 150px;
    height: 100px;
  }
  .day-column {
    padding: 0;
  }
  .day {
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    color: var(--white);
  }
  .flex-mobile {
    display: flex;
    flex-direction: column;
  }
}
