.content {
  background-color: #1e1e1e;
  height: 80vh;
  padding-top: 7rem;
  font-family: "Lato", sans-serif;
}

.login_form input {
  height: 2.5em;
  width: 18em;
  padding-inline: 0.5em;
  border: none;
  font-family: "Lato", sans-serif;
}
.signUp_form {
  height: 42vh;
}
.signUp_form input {
  height: 2.5em;
  width: 18em;
  padding-inline: 0.5em;
  border: none;
}

.input-container {
  background-color: white;
  border: 1px solid lightgray;
}
.field {
  margin-block: 1.5em;
  width: 22em;
}

.welcome {
  text-align: center;
  color: white;
}
.make_user {
  text-align: center;
}

.login_col {
  background-color: #3e3e42;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signup_col {
  background-color: white;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_form {
  padding: 2rem;
  margin: 0 auto;
}

.signUp_form {
  padding: 2rem;
  margin: 0 auto;
}
.button {
  background-color: #f5c065;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 6em;
  height: 2.5em;
}

@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .login_form {
    padding: 2rem;
    margin: 0;
  }

  .signUp_form {
    padding: 2rem;
    margin: 0;
  }
  .field {
    margin-block: 1.5em;
    width: 20em;
  }
}
