.content {
  background-color: #1e1e1e;
}

.input_field {
  height: 2.5em;
  width: 18em;
  padding-inline: 0.5em;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.white {
  color: white;
}
.welcome {
  text-align: center;
  color: white;
}
.make_user {
  text-align: center;
}

.login_col {
  background-color: #3e3e42;
  padding-top: 2em;
}
.signup_col {
  background-color: white;
  padding-top: 2em;
}

.login_form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line to vertically center the button */
}

.signUp_form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line to vertically center the button */
}
.button {
  background-color: #f5c065;
  border: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 6em;
  height: 2.5em;
}

@media (min-width: 768px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
}
