.form-step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-step input[type="text"] {
  width: 100%; /* Set the width to 100% to occupy the full width */
  margin-bottom: 5px;
}

.form-step button {
  margin-right: 5px;
}
